{% extends 'base.html' %}

{% block content %}
<div id="body" class="container">
    <div class="container">
        <h1>Welcome to Lotsacars</h1>
        <p>Check out our assortment of new and used cars for sale</p>
    
    </div>
</div>
<div class="main-img">
    <img src="../../static/images/pexels-david-mcbee-395537.jpg" class="img-fluid" alt="">
</div>
<div class="container mt-3 d-flex row">
    <section class="bg-light container pt-3 pl-3 main-area">
        <h3>Need a check up? Our mechanics are here to help</h3>
        <p>some more content</p>
        <a href="{{ url_for('auth.sign_in' )}}">
            <button class="button">Click here to sign in and make and appointment</button>
        </a>
    </section>

    <section class="bg-light container pt-3 main-area">
        <h3>View our available cars</h3>
        <ul>
            <!-- display the cars the user adds -->
            {% for name in car_names %}
            <li>
                {{ name.car_make }} - {{ name.car_model }}
                ${{ name.cost_ }}
            </li>
            {% endfor %}
        </ul>
    </section>
</div>
<div class="container bg-light">
    
</div>

{% endblock %}